/* Paleta de colores */

body {
  background-color: #6C567B;
  background-color: #C06C84;
  background-color: #F67280;
  background-color: #F8B195;
}

body {
  background-color: #FEFF89;
  background-color: #FF9F68;
  background-color: #F85959;
  background-color: #AC005D;
} 